html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul:after {
  content: '';
  clear: both;
  display: block;
}

ul {
  margin: auto;
  width: 465px;
  list-style: none;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

h1 {
  text-align: center;
  font-size: 60px;
  margin: 30px;
}

ul > li {
  float: left;
  border-right: 1px solid black;
  width: 30px;
  height: 30px;
  display: block;
}

p {
  text-align: center;
}

.snake-game {
  display: block;
}
.snake-game > ul:last-child {
  border-bottom: 1px solid black;
}

.S {
  background: green;
}
.A {
  background: red;
}
